body {
	text-align: center;
 	background-color: red;
 	background: url("http://www.vectorworldmap.com/vectormaps/vector-world-map-v2.2-blank.gif");
    background-size: cover;
}

h1{
	color: #A93226;
	font-family: "Bookman Old Style", sans-serif;
	font-style: italic;
	font-size: 400px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
    color: #D4AC0D;
    font-family: "Bookman Old Style", monospace; 
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

#slogan {
	color: #7D3C98;
	font-style: italic;
	text-align: center;
}

ul {
	color: #117A65;
    font-family: "Bookman Old Style", monospace; 
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}

a {
	font-style: italic;
	text-decoration: none;
}